body{
    align-items: center;
    text-align: center;}
#gen-btn{
    font-size: 3rem;
    padding: 5px 25px;
    border-radius: 5px;
    background-color: blueviolet;
    cursor: pointer;
    transition: background-color 0.25s;
}

#gen-btn:hover {
    background-color: rgb(17, 5, 28);
    color: aliceblue;
}

#output{
    font-size: 3rem;
}